{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password reset{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-6 offset-sm-3">
    <h4 class="alert-heading">well done</h4>
        <p>An email has been sent with instructions to reset your password <b>check your mail</b></p><br>
        <p>The real email functionality will be add soon for now <b>check your cmd prompt and copy the url paste in the browser and u will be able reset your password</b></p>

  </div>
 </div>
</div>
{% endblock main-content %}